body {
    background-color: #f5f5f5;
}

h3 {
    margin: 0;
}

#app {
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.controller-container {
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

