<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Reference</title>

    <link rel="stylesheet" href="metadata.styles.css">
</head>
<body>

    <div id="app">
        <div class="controller-container" v-for="controller in metadataInfo.controllers">
            <h3>{{controller.name}}</h3>
            <p>{{controller.description}}</p>
        </div>
    </div>

    <script src="info"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="metadata.controller.js"></script>
</body>
</html>